---
const links = [
  { href: "/", text: "Inicio" },
  { href: "/career", text: "Mi trayectoria" },
  { href: "/coupon/redeem", text: "Canjear cupón" },
];
---

<nav id="header-nav" transition:persist="header">
  <div id="header-nav-content">
    <div class="flex items-center justify-between h-16 max-w-7xl mx-auto">
      <a
        href="/"
        class="text-xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-gray-900 to-gray-600"
      >
        El blog de Tams
      </a>
      <div class="flex space-x-4">
        {
          links.map((link) => (
            <div class="flex items-center space-x-1 hover:bg-gray-100 p-2 rounded-md">
              <a href={link.href}>{link.text}</a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</nav>
<script>
  let removeTransitionsEffectTimeout: NodeJS.Timeout | undefined;
  let headerContent: HTMLDivElement | null;
  let isScrolled = false;

  const toggleNavScrolled = (executeAnimation = true) => {
    clearTimeout(removeTransitionsEffectTimeout);
    if (executeAnimation) headerContent.classList.add("transitions-enabled");

    if (window.scrollY > 0) {
      headerContent.classList.add("scrolled");
      isScrolled = true;
    } else {
      headerContent.classList.remove("scrolled");
      isScrolled = false;
    }

    // Habilitar animaciones SÓLO cuando se hace la acción
    // (así evito que al hacer resize de la ventana se vea una animación extraña por la anchura)
    removeTransitionsEffectTimeout = setTimeout(() => {
      headerContent.classList.remove("transitions-enabled");
    }, 250);
  };

  document.addEventListener("scroll", () => {
    if (!headerContent) {
      return;
    }

    if (window.scrollY === 0 && !isScrolled) {
      return;
    }

    if (window.scrollY > 0 && isScrolled) {
      return;
    }

    toggleNavScrolled();
  });

  document.addEventListener("astro:page-load", () => {
    // Al cargar la página, por las view transitions, el elemento se vuelve a cargar, así que lo vuelvo a buscar
    headerContent = document.getElementById(
      "header-nav-content",
    ) as HTMLDivElement;

    if (window.scrollY > 0) {
      isScrolled = true;
      toggleNavScrolled(false);
    }
  });
</script>
<style>
  .transitions-enabled {
    transition: all 0.2s ease-in-out;
  }

  #header-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 50;
  }

  #header-nav-content {
    @apply bg-white/90 border-b border-gray-100 backdrop-blur-xl;
    width: 100%;
    max-width: 100vw;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #header-nav-content.scrolled {
    @apply bg-white/60;
    max-width: 80rem;
    width: 90vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    transform: translateY(5px);
  }
</style>
