---
import BackgroundPattern from '../components/BackgroundPattern.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions, fade } from 'astro:transitions';
import CardDani from '@components/CardDani.astro';

interface Props {
	title: string;
	showInfo?: boolean;
}

const { title, showInfo = true } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A modern developer blog" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="min-h-svh w-screen bg-gray-50 overflow-x-hidden">
		<BackgroundPattern transition:animate={fade({ duration: '0' })} />
		<Header transition:animate={fade({ duration: '0' })} />
		<!-- Personal card aside -->
		<div class="flex justify-center gap-6 flex-wrap max-w-[100svw] w-7xl py-12 px-6 mx-auto">
			{showInfo && <CardDani />}
	
			<main class="max-w-full w-4xl">
				<slot />
			</main>
		</div>
		<Footer transition:animate={fade({ duration: '0' })} />
	</body>
</html>
<style is:global>
	body {
		scrollbar-gutter: stable both-edges;
		display: grid;
		grid-template-rows: auto 1fr auto;
		grid-template-columns: 1fr;	
	}

	@keyframes slide-from-left {
		from { transform: translateX(-100%); opacity: 0; }
		to { transform: translateX(0); opacity: 1; }
	}

	@keyframes slide-from-right {
		from { transform: translateX(100%); opacity: 0; }
		to { transform: translateX(0); opacity: 1; }
	}
</style>
